.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 144px;
  color: #ffffff;
  font-size: 14px;
  &.red{
    background: red;
  }

  &.blue{
    background: blue;
  }

  &.green{
    background: green;
  }
  &.pink{
    background: pink;
  }
}
