
.container{
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #999999;
  background-color: rgba(0, 0, 0, .1);
}
.flexWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-left: -10px;
}


